@font-face {
  font-family: Feather Icons;
  src: url('../fonts/icomoon.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --charcoal-22: #222;
  --grey-88: #888;
  --senya-blue: #1569ff;
  --senya-red: #ef382d;
  --white-fa: #fafafa;
  --light-blue: #e7f0ff;
  --gray-f0: #f0f0f0;
  --light-red: #fdebea;
  --grey-55: #555;
}

body {
  color: var(--charcoal-22);
  font-family: Inter Tight, sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25em;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}

p {
  margin-bottom: 0;
  line-height: 1.25em;
}

a {
  text-decoration: underline;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

img {
  max-width: 100%;
  display: inline-block;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

.main-section {
  padding: 8rem 5rem;
  position: relative;
}

.main-section.nuke-top-space {
  padding-top: 0;
}

.container {
  flex-direction: column;
  width: 100%;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.container.left {
  align-items: flex-start;
}

.container.left.vertical-justify {
  justify-content: space-between;
}

.container.right {
  align-items: flex-end;
}

.container.center {
  text-align: center;
  align-items: center;
}

.container.vertical-center {
  justify-content: center;
}

.heading-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1em;
}

.heading-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1em;
}

.heading-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1em;
}

.heading-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1em;
}

.heading-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1em;
}

.heading-6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1em;
}

.standard-paragraph {
  max-width: 60rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.standard-paragraph.small {
  font-size: 1.2rem;
  font-weight: 400;
}

.standard-paragraph.xsmall {
  font-size: 1rem;
  font-weight: 400;
}

.standard-paragraph.xlarge {
  font-size: 2rem;
  font-weight: 300;
}

.function-text {
  color: var(--grey-88);
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.margin-5 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.margin-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.margin-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.margin-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.margin-top-5 {
  margin-top: .5rem;
}

.margin-bottom-5 {
  margin-bottom: .5rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-bottom-4 {
  margin-bottom: 4rem;
}

.margin-0 {
  margin: 0;
}

.rich-text-wrapper h1 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.25em;
}

.rich-text-wrapper h2 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25em;
}

.rich-text-wrapper h3 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25em;
}

.rich-text-wrapper h4 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25em;
}

.rich-text-wrapper h5 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25em;
}

.rich-text-wrapper h6 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25em;
}

.rich-text-wrapper p {
  max-width: 60rem;
  margin-top: .5rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.rich-text-wrapper a {
  color: var(--senya-blue);
}

.rich-text-wrapper blockquote {
  border-left: .25rem solid var(--senya-red);
  max-width: 60rem;
  margin-top: .5rem;
  margin-bottom: 0;
  padding: 0 0 0 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2em;
}

.rich-text-wrapper ul {
  max-width: 60rem;
  margin-top: .5rem;
  margin-bottom: 0;
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2em;
  list-style-type: square;
}

.rich-text-wrapper li {
  margin-top: .5rem;
}

.rich-text-wrapper ol {
  max-width: 60rem;
  margin-top: .5rem;
  margin-bottom: 0;
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2em;
  overflow: visible;
}

.rich-text-wrapper img {
  border-radius: .4rem;
  margin-top: .4rem;
}

.rich-text-wrapper figcaption {
  margin-top: .5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2em;
}

.background-wrapper.dark {
  background-color: var(--charcoal-22);
  color: #fff;
}

.background-wrapper.light {
  background-color: var(--white-fa);
}

.background-wrapper.text-white {
  color: #fff;
}

.background-wrapper.accent-blue {
  background-color: var(--light-blue);
}

.nuke {
  display: none;
}

.pull-quote {
  border-left: .5rem solid var(--senya-red);
  max-width: 60rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: 300;
}

.large-quote {
  max-width: 60rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 200;
}

.standard-image {
  border-radius: .4rem;
}

.standard-button {
  color: var(--charcoal-22);
  background-color: #fff;
  border-radius: 100rem;
  padding: .6rem 1.2rem;
  font-size: 1rem;
  line-height: 1em;
  transition: transform .3s cubic-bezier(.645, .045, .355, 1);
}

.standard-button:hover {
  transform: scale(1.05);
}

.standard-button.secondary {
  background-color: var(--gray-f0);
}

.standard-button-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: .5rem;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  display: flex;
}

.grid-container {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.grid-container.x6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-container.x5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-container.x4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-container.x3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container.x2 {
  grid-template-columns: 1fr 1fr;
}

.grid-container.x2.footer {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.grid-container.x2-offset {
  grid-column-gap: 2rem;
  grid-template-columns: 1fr 2fr;
}

.style-guide-color {
  border-radius: 1rem;
  width: 100%;
  height: 8rem;
}

.style-guide-color._1569ff {
  background-color: var(--senya-blue);
  border-radius: .8rem;
}

.style-guide-color.e7f0ff {
  background-color: var(--light-blue);
}

.style-guide-color.ef382d {
  background-color: var(--senya-red);
}

.style-guide-color.fdebea {
  background-color: var(--light-red);
}

.style-guide-color._222222 {
  background-color: var(--charcoal-22);
}

.style-guide-color._555555 {
  background-color: var(--grey-55);
}

.style-guide-color._888888 {
  background-color: var(--grey-88);
}

.style-guide-color.fafafa {
  background-color: var(--white-fa);
}

.style-guide-color._07926e {
  background-color: #07926e;
}

.style-guide-color.e6f4f0 {
  background-color: #e6f4f0;
}

.style-guide-color.e1e1e1 {
  background-color: var(--gray-f0);
}

.standard-link {
  color: var(--senya-blue);
}

.grid-center {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.social-media-wrapper {
  grid-column-gap: 2rem;
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.social-media-icon-link {
  color: var(--charcoal-22);
  position: relative;
}

.social-media-icon-link.invert {
  opacity: 1;
  filter: brightness(0%) invert();
  transition-property: none;
}

.social-media-icon-link.with-tooltip {
  justify-content: center;
  display: flex;
}

.social-media-image {
  width: 1.6rem;
  height: 1.6rem;
}

.feature-text {
  white-space: nowrap;
  margin-top: .4rem;
  margin-bottom: .4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1em;
}

.feature-card {
  background-color: #fff;
  border-radius: 100rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 .8rem;
  padding: .4rem .6rem .4rem 1rem;
  display: flex;
}

.feature-marquee-wrapper {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.feature-wrapper {
  flex-flow: row;
  width: 100vw;
  padding-top: 1rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

.feature-check {
  background-color: #e6f4f0;
  border-radius: 100rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  padding: .4rem;
  display: flex;
}

.feature-icon {
  color: #07926e;
  text-align: center;
  font-family: Feather Icons, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1em;
}

.scroll-feature {
  padding-left: 6rem;
  padding-right: 6rem;
  position: relative;
}

.profile-picture {
  object-fit: cover;
  border-radius: 100%;
}

.flex-horizontal-container {
  grid-column-gap: 2.5rem;
  flex-direction: row;
  width: 100%;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.flex-horizontal-container.top-aligned {
  align-items: flex-start;
}

.vertical-center {
  align-items: center;
  display: flex;
}

.profile-picture-container {
  align-items: center;
  width: 14rem;
  display: flex;
}

.link-container {
  width: 100%;
  max-width: 1480px;
  color: var(--charcoal-22);
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
  position: relative;
}

.portfolio-image-wrapper {
  border-radius: .4rem;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.portfolio-image-overlay {
  opacity: 0;
  background-color: #00000080;
  justify-content: center;
  align-items: center;
  transition: opacity .6s cubic-bezier(.25, .46, .45, .94);
  display: flex;
  position: absolute;
  inset: 0;
}

.portfolio-image-overlay:hover {
  opacity: 1;
}

.portfolio-icon {
  color: #fff;
  text-align: center;
  font-family: Feather Icons, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1em;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.header-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.menu-button-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: .8rem;
}

.navigation-icon-bar {
  background-color: #222;
  width: 1.4rem;
  min-width: 16px;
  height: 2px;
}

.navigation-icon-bar.middle {
  margin-top: 3px;
  margin-bottom: 3px;
}

.header-menu-wrapper-mobile {
  border-radius: .8rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 6rem;
  display: none;
  position: absolute;
  inset: 0% 0% auto;
}

.header-menu-wrapper {
  align-items: center;
  display: flex;
}

.menu-link-wrapper {
  padding: .6rem .8rem;
  text-decoration: none;
  position: relative;
}

.menu-link-wrapper.mobile {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu-link-wrapper.underline {
  color: var(--charcoal-22);
  text-decoration: underline;
}

.menu-link-wrapper.underline.nuke-left-space {
  padding-left: 0;
}

.navigation-icon-inner {
  background-color: #e6f4f0;
  border-radius: 100rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  min-width: 32px;
  height: 2.8rem;
  min-height: 32px;
  display: none;
  position: relative;
}

.navigation-menu-item {
  color: #222;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: 1.2rem;
}

.header-section {
  padding: .8rem 5rem 0;
  position: relative;
}

.anchored-text {
  position: sticky;
  top: 2rem;
}

.portfolio-image-overlay-text {
  color: #fff;
  text-align: center;
}

.bold {
  font-weight: 600;
}

.no-shadow-image {
  border-radius: .4rem;
}

.video {
  border-radius: .4rem;
  width: 100%;
  overflow: hidden;
}

.video-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.video-wrapper.max-width-800px {
  max-width: 800px;
}

.faux-home-menu {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hide-home-menu {
  display: none;
}

.tooltip {
  z-index: 10;
  position: absolute;
  top: -2.6rem;
  left: auto;
  right: auto;
}

.tooltip-card {
  background-color: #f0f0f0;
  border-radius: 100rem;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: .1rem .5rem;
  display: flex;
  position: relative;
}

.tooltip-text {
  z-index: 10;
  white-space: nowrap;
  margin-top: .4rem;
  margin-bottom: .4rem;
  font-size: .9rem;
  font-weight: 400;
  line-height: .8em;
  position: relative;
}

.pointer {
  background-color: #f0f0f0;
  border-radius: .2rem;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1.1rem;
  left: auto;
  right: auto;
  transform: rotate(45deg);
}

.custom-code-embed {
  display: none;
}

.iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.divider {
  background-color: var(--gray-f0);
  width: 25%;
  height: 3px;
  margin: 4rem auto;
}

@media screen and (max-width: 991px) {
  .rich-text-wrapper ul {
    font-size: 1.2rem;
  }

  .grid-container.x6, .grid-container.x5 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .feature-text {
    max-width: 65rem;
    font-size: 1.75rem;
  }

  .feature-icon {
    font-size: 1.75rem;
  }

  .portfolio-icon {
    max-width: 65rem;
    font-size: 1.75rem;
  }

  .navigation-icon-bar.middle {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .navigation-menu-item {
    max-width: 65rem;
  }

  .tooltip-text {
    max-width: 65rem;
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 767px) {
  .main-section {
    padding: 4rem 1rem;
  }

  .rich-text-wrapper blockquote {
    border-left-width: .3rem;
  }

  .pull-quote {
    border-left-width: .3rem;
    font-size: 18px;
  }

  .standard-button-wrapper {
    grid-column-gap: .5rem;
  }

  .grid-container.x6, .grid-container.x5, .grid-container.x4 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-container.x3, .grid-container.x2, .grid-container.x2-offset {
    grid-template-columns: 1fr;
  }

  .feature-text {
    font-size: 16px;
  }

  .feature-card.nuke-mobile {
    display: none;
  }

  .feature-wrapper {
    padding-top: .5rem;
    padding-bottom: 1rem;
  }

  .feature-check {
    margin-left: .5rem;
  }

  .feature-icon {
    font-size: 18px;
  }

  .flex-horizontal-container {
    grid-row-gap: 1.5rem;
    flex-direction: column;
  }

  .portfolio-icon {
    width: auto;
    max-width: none;
    font-size: 14px;
  }

  .navigation-icon-bar {
    background-color: #07926e;
  }

  .navigation-icon-bar.middle {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .header-menu-wrapper-mobile {
    z-index: 10;
    background-color: #fff;
    align-items: stretch;
    margin-top: 4.5rem;
    display: flex;
  }

  .header-menu-wrapper {
    display: none;
  }

  .menu-link-wrapper.mobile {
    padding-left: 1.2rem;
    display: block;
  }

  .navigation-icon-inner {
    background-color: #e6f4f0;
    border-radius: 100rem;
    display: flex;
  }

  .header-section {
    padding: .5rem 1rem;
  }

  .hide-home-menu {
    display: block;
  }

  .tooltip, .tooltip-card.nuke-mobile {
    display: none;
  }

  .tooltip-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .grid-container.x6, .grid-container.x5, .grid-container.x4 {
    grid-template-columns: 1fr;
  }
}

#w-node-cd7105ea-3bf1-6434-12b4-37ae285dd252-46a2bebe, #w-node-fe796af3-2720-d83a-84f0-03214a1a4888-46a2bebe, #w-node-_1393959b-9e9f-9d2b-1a49-a1f88953c9d7-46a2bebe, #w-node-f1e75e9d-ca4f-b9a3-1208-439ee12113f7-46a2bebe, #w-node-ffb2a1e6-e73c-e47b-f46f-4fef061db206-46a2bebe, #w-node-ffb2a1e6-e73c-e47b-f46f-4fef061db20b-46a2bebe, #w-node-ffb2a1e6-e73c-e47b-f46f-4fef061db210-46a2bebe, #w-node-ffb2a1e6-e73c-e47b-f46f-4fef061db215-46a2bebe, #w-node-_300877b8-8ba5-c4bb-be6a-58e653bc9513-46a2bebe, #w-node-_300877b8-8ba5-c4bb-be6a-58e653bc9518-46a2bebe, #w-node-_428b3600-48a1-1886-0931-b858adf693a4-46a2bebe, #w-node-c7ce09b3-d58c-0371-9daf-9a3422969f73-46a2bebe, #w-node-_8e664288-d111-3cf0-8e99-e12d69535755-46a2bebe, #w-node-_8e664288-d111-3cf0-8e99-e12d6953575a-46a2bebe, #w-node-_8e664288-d111-3cf0-8e99-e12d6953575f-46a2bebe, #w-node-_8e664288-d111-3cf0-8e99-e12d69535764-46a2bebe, #w-node-_9e3dbc06-4115-ff28-bf49-63c5c8e1ce5a-c8e1ce57, #w-node-_9e3dbc06-4115-ff28-bf49-63c5c8e1ce80-c8e1ce57, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-cb97259c, #w-node-_50141d6f-7c34-68c6-d161-6ab94b05dd3f-cb97259c, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-9e541a76, #w-node-_50141d6f-7c34-68c6-d161-6ab94b05dd3f-9e541a76, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-a7df0e51, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-d6466383, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-b795f026, #w-node-_50141d6f-7c34-68c6-d161-6ab94b05dd3f-b795f026, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-5ea83ef4, #w-node-_50141d6f-7c34-68c6-d161-6ab94b05dd3f-5ea83ef4, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-6723a1fc, #w-node-a2c33853-7f5c-3fb7-f698-c7eb88266534-6723a1fc, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-9b84e9b1, #w-node-_50141d6f-7c34-68c6-d161-6ab94b05dd3f-9b84e9b1, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-60e52dc4, #w-node-_50141d6f-7c34-68c6-d161-6ab94b05dd3f-60e52dc4, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-bc85b7e4, #w-node-_50141d6f-7c34-68c6-d161-6ab94b05dd3f-bc85b7e4, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-71a26336, #w-node-_50141d6f-7c34-68c6-d161-6ab94b05dd3f-71a26336 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_52988eb9-5859-b176-887c-d6d52853c17a-a7df0e51, #w-node-_52988eb9-5859-b176-887c-d6d52853c17a-d6466383, #w-node-ec80f9b1-42c1-1656-bed2-a0e4f73657b1-6723a1fc {
    order: 9999;
  }
}


@font-face {
  font-family: 'Feather Icons';
  src: url('../fonts/icomoon.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}